.banner {
    background: var(--cor-degrader);
    color: var(--cor-secundaria);
    text-align: center;
    padding: 2.5em 2em;
}

.banner_titulo{
    font-size: 18px;
    font-weight: 700;
}
.banner_p {
    font-weight: 500;
    margin: 1em 0;
}
.banner_pesquisa{
    background-color: transparent;
    border: 1px solid var(--cor-secundaria);
    color: var(--cor-secundaria);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
}
.banner_pesquisa::placeholder {
    font-family:var(--fonte-princi);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--cor-secundaria);
    background: url("../img/Vector.svg") no-repeat;
    background-position: 1em;
}