.topicos{
    background:var(--cor-degrader);
    text-align: center;
    padding: 1em 0;
}
.topicos_titulo{
    color: var(--cor-secundaria);
    font-weight: 700;
    margin-bottom: 1em;
}
.topicos_lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.topicos_link{
    color: var(--cor-secundaria);
    background-color: var(--cor-laranja);
    padding: 1.2em; 
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}
.topicos_itens{
    margin: 1.2em .5em;
}
@media screen and (min-width: 1024px){
    .topicos_titulo{
        font-size: 24px;
    }
    .topicos_link{
        font-size: 24px;
    }
    .topicos_itens{
        margin: 2.2em .6em 3em;
    }
    .topicos_lista{
        padding: 0 4em;
    }
}
@media screen and (min-width: 1728px){
    .topicos{
        padding: 3em 25vw;
    }
}